<html>
    <head>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="style.css">
		<!--LinkedIn thumnail start-->
		<meta name="description" content="Zoom Clone" />
		<meta name="title" property="og:title" content="Zoom Clone" />
		<meta property="og:type" content="Website" />
		<meta name="image" property="og:image" content="https://user-images.githubusercontent.com/87059373/125036793-8c81c180-e0d2-11eb-9f9b-575e04290c6d.png" />
		<meta name="description" property="og:description" content="Zoom Clone" />
		<meta name="author" content="Jae Choi" />
		<!--LinkedIn thumnail end-->
        <title>Zoom Clone Project</title>
		<h1>Video Chat Web App</h1>
    </head>
    <body>
		<div class="parent">
			<div class="child">
				<img src="./image/Animated-Logo.gif" alt="My Image">
			</div>
			<div class="image">
				<img src="./image/download.png" alt="My Image">
			</div>
			<div class="child right">
				<img src="./image/Animated-Logo.gif" alt="My Image">
			</div>
		</div>
			
		<div class="button">
			<button onclick="gotoRoom()">Create a Room</button>
			<div class="rejoin"></div>
		</div>
		<script src="home_script.js"></script>
    </body>

</html>